.body-container{
	width:100%;
	height:100%;
	margin:0px  auto;
	background-size:100%;
	background:url(images/zc.jpg) no-repeat;
}

.container{
	width:35%;
	margin:60px auto;
	background:#69AED7;
}

.form-horizontal{
	width:100%;
	
	margin:2%;
}

.unit_ID{
	margin-top:4%;
}

.m_btn1{
	color:#FFF;
	margin-left:20%; 
	background:#466EC5;
}

.m_btn2{
	color:#FFF;
	margin-left:6%; 
	background:#466EC5;
}

.btn:hover{
	color:#FFF;
	background:#308DCA;
}
